#%RAML 0.8
title: Person API Group BLS
version: 1.0
documentation:
- title: Person API Group BLS
  content: "# Person API Group Functional Summary #\n\nThe Person API Group creates and updates records for end user accounts. A prerequisite to creating a person record is the Organization ID for the organization to which the person belongs. A global Person ID (CUID) is returned when a person is created. The Person ID will be required for any actions performed for a specific user.\n\n+ Sample Organization ID:  MYCOMPANY-DEMO123456\n+ Sample Person ID: DYKGC1a8\n\n### The Person Record ###\n\nThe person record contains the following information:\n\n+ Demographics such as name, address, phone numbers, timezone, preferred language and email address\n+ Administrative data such as account status and organization to which they belong\n+ Service packages granted to the user and the users organization\n+ Security data such as authentication domain, username, password, and security questions\n+ An optional template of custom attributes\n\n### Other Functions ###\n\nOther functions performed by the Person API:\n\n+ Generates email invitations to register with an optional unique invitationCode\n+ Registration\n    + Registers a user with person record in pending status \n    + Approves or denies a registration request\n+ Validation \n    + Validates the email address and/or username exists in the database \n    + Validates that passwords comply with password policies\n+ Activates/Suspends/Unsuspends user accounts\n+ Retrieves OIDC claim for a person to complete Open Id Connect (OIDC) Authorization. Query parameters are populated by Apigee gateway.\n\nFor more information, see: [Covisint](http://www.covisint.com)"
baseUri: https://api.us1.covisint.com/person/v3
baseUriParameters: {}
/userInfo:
  get:
    description: 'TODO: Add Description'
    responses: {}
    headers:
      Authorization:
        description: ''
        type: string
        example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: Authorization
      Accept:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.userinfo.v1+json
        default: ''
        required: true
        displayName: Accept
    queryParameters:
      scope:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: scope
/persons:
  /count:
    get:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
        Accept:
          description: ''
          type: string
          example: text/plain
          default: ''
          required: true
          displayName: Accept
      queryParameters:
        id:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: id
        organization.id:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: organization.id
        username:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: username
        authnDomain:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: authnDomain
        name.given:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: name.given
        name.surname:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: name.surname
        email:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: email
  /roles/:personId:
    get:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.role.v1+json:onlyroles=true
          default: ''
          required: true
          displayName: Accept
  /registration:
    /status:
      post:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          SolutionInstanceId:
            description: ''
            type: string
            example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: SolutionInstanceId
          Accept:
            description: ''
            type: string
            example: text/plain
            default: ''
            required: true
            displayName: Accept
          Content-Type:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.authn.password.req.v1+json
            default: ''
            required: true
            displayName: Content-Type
    /validate:
      post:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          SolutionInstanceId:
            description: ''
            type: string
            example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: SolutionInstanceId
        queryParameters:
          emailAddress:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: emailAddress
          userName:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: userName
    post:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        SolutionInstanceId:
          description: ''
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: SolutionInstanceId
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.password.account.v1+json
          default: ''
          required: true
          displayName: Accept
        Content-Type:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.password.account.v1+json
          default: ''
          required: true
          displayName: Content-Type
  /:personId:
    /accounts/password:
      put:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.account.password.v1+json
            default: ''
            required: true
            displayName: Accept
          Content-Type:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.account.password.v1+json
            default: ''
            required: true
            displayName: Content-Type
      get:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.account.password.v1+json
            default: ''
            required: true
            displayName: Accept
    /templates:
      put:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            default: ''
            required: true
            displayName: Accept
          Content-Type:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            default: ''
            required: true
            displayName: Content-Type
      delete:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            default: ''
            required: true
            displayName: Accept
        queryParameters:
          id:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: id
      get:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            default: ''
            required: true
            displayName: Accept
    get:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          default: ''
          required: true
          displayName: Accept
    put:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          default: ''
          required: true
          displayName: Accept
        Content-Type:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          default: ''
          required: true
          displayName: Content-Type
  /password/validate:
    post:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        SolutionInstanceId:
          description: ''
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: SolutionInstanceId
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.password.validation.response.v1+json
          default: ''
          required: true
          displayName: Accept
        Content-type:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.password.validation.v1+json
          default: ''
          required: true
          displayName: Content-type
  /organizations/:organizationId/securityAdmins:
    get:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          default: ''
          required: true
          displayName: Accept
      queryParameters:
        page:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: page
        pageSize:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: pageSize
  /tasks:
    /activate:
      post:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
        queryParameters:
          personId:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: personId
    /suspend:
      post:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
        queryParameters:
          personId:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: personId
    /unsuspend:
      post:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
        queryParameters:
          personId:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: personId
  get:
    description: 'TODO: Add Description'
    responses: {}
    headers:
      Authorization:
        description: ''
        type: string
        example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: Authorization
      Accept:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.v1+json
        default: ''
        required: true
        displayName: Accept
    queryParameters:
      page:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: page
      pageSize:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: pageSize
      id:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: id
      organization.id:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: organization.id
      username:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: username
      authnDomain:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: authnDomain
      name.given:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: name.given
      name.surname:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: name.surname
      email:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: email
      securityadmin:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: securityadmin
      roleId:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: roleId
      roleName:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: roleName
      fullName:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: fullName
      isRolesGranted:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: isRolesGranted
  post:
    description: 'TODO: Add Description'
    responses: {}
    headers:
      Authorization:
        description: ''
        type: string
        example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: Authorization
      Accept:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.v1+json
        default: ''
        required: true
        displayName: Accept
      Content-Type:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.v1+json
        default: ''
        required: true
        displayName: Content-Type
/personInvitations:
  /:invitationId:
    /servicePackages:
      /:packageId:
        /codes:
          get:
            description: 'TODO: Add Description'
            responses: {}
            headers:
              Authorization:
                description: ''
                type: string
                example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
                default: ''
                required: true
                displayName: Authorization
              Accept:
                description: ''
                type: string
                example: application/vnd.com.covisint.platform.service.codes.v1+json
                default: ''
                required: true
                displayName: Accept
          put:
            description: 'TODO: Add Description'
            responses: {}
            headers:
              Authorization:
                description: ''
                type: string
                example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
                default: ''
                required: true
                displayName: Authorization
              Content-type:
                description: ''
                type: string
                example: application/vnd.com.covisint.platform.service.codes.v1+json
                default: ''
                required: true
                displayName: Content-type
              Accept:
                description: ''
                type: string
                example: application/vnd.com.covisint.platform.service.codes.v1+json
                default: ''
                required: true
                displayName: Accept
          delete:
            description: 'TODO: Add Description'
            responses: {}
            headers:
              Authorization:
                description: ''
                type: string
                example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
                default: ''
                required: true
                displayName: Authorization
        put:
          description: 'TODO: Add Description'
          responses: {}
          headers:
            Authorization:
              description: ''
              type: string
              example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
              default: ''
              required: true
              displayName: Authorization
            Content-type:
              description: ''
              type: string
              example: application/vnd.com.covisint.platform.resourceReferences.v1+json
              default: ''
              required: true
              displayName: Content-type
            Accept:
              description: ''
              type: string
              example: application/vnd.com.covisint.platform.resourceReferences.v1+json
              default: ''
              required: true
              displayName: Accept
        delete:
          description: 'TODO: Add Description'
          responses: {}
          headers:
            Authorization:
              description: ''
              type: string
              example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
              default: ''
              required: true
              displayName: Authorization
      get:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.resourceReferences.v1+json
            default: ''
            required: true
            displayName: Accept
    get:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        SolutionInstanceId:
          description: ''
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: SolutionInstanceId
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.invitation.v1+json
          default: ''
          required: true
          displayName: Accept
  /tasks/accept:
    post:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        SolutionInstanceId:
          description: ''
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: SolutionInstanceId
      queryParameters:
        inviteId:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: inviteId
        createdPersonId:
          description: ''
          type: string
          example: ''
          default: ''
          required: true
          displayName: createdPersonId
  get:
    description: 'TODO: Add Description'
    responses: {}
    headers:
      Authorization:
        description: ''
        type: string
        example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: Authorization
      Accept:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.invitation.v1+json
        default: ''
        required: true
        displayName: Accept
    queryParameters:
      page:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: page
      pageSize:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: pageSize
      invitor.id:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: invitor.id
      invitee.id:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: invitee.id
  post:
    description: 'TODO: Add Description'
    responses: {}
    headers:
      Authorization:
        description: ''
        type: string
        example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: Authorization
      Accept:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.invitation.v1+json
        default: ''
        required: true
        displayName: Accept
      Content-Type:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.invitation.v1+json
        default: ''
        required: true
        displayName: Content-Type
/requests:
  /:requestId:
    get:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        SolutionInstanceId:
          description: ''
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: SolutionInstanceId
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
        Accept:
          description: ''
          type: string
          example: application/vnd.com.covisint.platform.person.request.v1+json
          default: ''
          required: true
          displayName: Accept
    delete:
      description: 'TODO: Add Description'
      responses: {}
      headers:
        Authorization:
          description: ''
          type: string
          example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          default: ''
          required: true
          displayName: Authorization
  /tasks:
    /approve:
      post:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.request.v1+json;grantdefaultpackage=true
            default: ''
            required: true
            displayName: Accept
        queryParameters:
          requestId:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: requestId
    /deny:
      post:
        description: 'TODO: Add Description'
        responses: {}
        headers:
          Authorization:
            description: ''
            type: string
            example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            default: ''
            required: true
            displayName: Authorization
          Accept:
            description: ''
            type: string
            example: application/vnd.com.covisint.platform.person.request.v1+json
            default: ''
            required: true
            displayName: Accept
        queryParameters:
          requestId:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: requestId
          reason:
            description: ''
            type: string
            example: ''
            default: ''
            required: true
            displayName: reason
  get:
    description: 'TODO: Add Description'
    responses: {}
    headers:
      SolutionInstanceId:
        description: ''
        type: string
        example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: SolutionInstanceId
      Authorization:
        description: ''
        type: string
        example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: Authorization
      Accept:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.request.v1+json
        default: ''
        required: true
        displayName: Accept
    queryParameters:
      page:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: page
      pageSize:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: pageSize
      registrant.id:
        description: ''
        type: string
        example: ''
        default: ''
        required: true
        displayName: registrant.id
  post:
    description: 'TODO: Add Description'
    responses: {}
    headers:
      SolutionInstanceId:
        description: ''
        type: string
        example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: SolutionInstanceId
      Authorization:
        description: ''
        type: string
        example: Bearer ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        default: ''
        required: true
        displayName: Authorization
      Accept:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.request.v1+json
        default: ''
        required: true
        displayName: Accept
      Content-Type:
        description: ''
        type: string
        example: application/vnd.com.covisint.platform.person.request.v1+json
        default: ''
        required: true
        displayName: Content-Type
