#%RAML 0.8
title: Person API Group BLS
version: 1.0
documentation:
- title: Person API Group BLS
  content: "# Person API Group Functional Summary #\n\nThe Person API Group creates and updates records for end user accounts. A prerequisite to creating a person record is the Organization ID for the organization to which the person belongs. A global Person ID (CUID) is returned when a person is created. The Person ID will be required for any actions performed for a specific user.\n\n+ Sample Organization ID:  MYCOMPANY-DEMO123456\n+ Sample Person ID: DYKGC1a8\n\n### The Person Record ###\n\nThe person record contains the following information:\n\n+ Demographics such as name, address, phone numbers, timezone, preferred language and email address\n+ Administrative data such as account status and organization to which they belong\n+ Service packages granted to the user and the users organization\n+ Security data such as authentication domain, username, password, and security questions\n+ An optional template of custom attributes\n\n### Other Functions ###\n\nOther functions performed by the Person API:\n\n+ Generates email invitations to register with an optional unique invitationCode\n+ Registration\n    + Registers a user with person record in pending status \n    + Approves or denies a registration request\n+ Validation \n    + Validates the email address and/or username exists in the database \n    + Validates that passwords comply with password policies\n+ Activates/Suspends/Unsuspends user accounts\n+ Retrieves OIDC claim for a person to complete Open Id Connect (OIDC) Authorization. Query parameters are populated by Apigee gateway.\n\nFor more information, see: [Covisint](http://www.covisint.com)"
baseUri: https://api.us1.covisint.com/person/v3
protocols:
- HTTPS
baseUriParameters: {}
/userInfo:
  get:
    description: >+
      Retrieve user claims based on scope and subject id. The scope and subject id are populated by the Apigee gateway. Returns a user claim in the form of ???. This claim authenticates the user to ???.


      Parameters:

    responses:
      200:
        description: Success
    headers:
      Accept:
        type: string
        example: application/vnd.com.covisint.platform.userinfo.v1+json
        required: true
        displayName: Accept
    queryParameters:
      scope:
        type: string
        required: true
        displayName: scope
/persons:
  /count:
    get:
      description: >+
        Returns the count of person.


        Parameters:

      responses:
        200:
          description: Success
      headers:
        Accept:
          type: string
          example: text/plain
          required: true
          displayName: Accept
      queryParameters:
        id:
          type: string
          required: true
          displayName: id
        organization.id:
          type: string
          required: true
          displayName: organization.id
        username:
          type: string
          required: true
          displayName: username
        authnDomain:
          type: string
          required: true
          displayName: authnDomain
        name.given:
          type: string
          required: true
          displayName: name.given
        name.surname:
          type: string
          required: true
          displayName: name.surname
        email:
          type: string
          required: true
          displayName: email
  /roles/{personId}:
    uriParameters:
      personId:
        type: string
        example: null
        required: true
        displayName: personId
    get:
      description: "This endpoint gets the list of roles for person and also will get the only roles if we pass the onlyroles is equal to true as a media type parameter\n\nParameters:\n\npersonId: \n\n"
      responses:
        200:
          description: Success
      headers:
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.person.role.v1+json:onlyroles=true
          required: true
          displayName: Accept
  /registration:
    /status:
      post:
        description: >+
          This endpoint used to get the user's registration status. First will check whether user is authenticated or not basis on passowrd


          Parameters:

        responses:
          200:
            description: Success
        headers:
          SolutionInstanceId:
            type: string
            example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            required: true
            displayName: SolutionInstanceId
          Accept:
            type: string
            example: text/plain
            required: true
            displayName: Accept
          Content-Type:
            type: string
            example: application/vnd.com.covisint.platform.authn.password.req.v1+json
            required: true
            displayName: Content-Type
    /validate:
      post:
        description: >+
          Validate the email address and/or user name exists. Email address and/or user name provides as parameters.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          SolutionInstanceId:
            type: string
            example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
            required: true
            displayName: SolutionInstanceId
        queryParameters:
          emailAddress:
            type: string
            required: true
            displayName: emailAddress
          userName:
            type: string
            required: true
            displayName: userName
    post:
      body:
        application/vnd.com.covisint.platform.person.password.account.v1+json:
          schema: |
            {
              "example": "{ \"abc\" ; \"def\"}",
              "type": "string"
            }
          example: '{ "abc" ; "def"}'
      description: >+
        Register a new user. This end point create person, add password account, updating security questions(if provided) and updating the extended attributes. The status of the registered user is "pending".


        Parameters:

      responses:
        200:
          description: Success
      headers:
        SolutionInstanceId:
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          required: true
          displayName: SolutionInstanceId
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.person.password.account.v1+json
          required: true
          displayName: Accept
        Content-Type:
          type: string
          example: application/vnd.com.covisint.platform.person.password.account.v1+json
          required: true
          displayName: Content-Type
  /{personId}:
    uriParameters:
      personId:
        type: string
        example: null
        required: true
        displayName: personId
    /accounts/password:
      uriParameters: {}
      put:
        description: >+
          Create or update the password account.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.person.account.password.v1+json
            required: true
            displayName: Accept
          Content-Type:
            type: string
            example: application/vnd.com.covisint.platform.person.account.password.v1+json
            required: true
            displayName: Content-Type
      get:
        description: >+
          Returns the person's password account


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.person.account.password.v1+json
            required: true
            displayName: Accept
    /templates:
      uriParameters: {}
      put:
        description: >+
          This endpoint updates an person with set of extended attributes. First it will verify the provided extended attributes are exists. If doesn't exist then it will throw an exception. It will always updates the provided attributes with the specified values, if attributes already exists but not provided by the client then it will ignore to update those attributes.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            required: true
            displayName: Accept
          Content-Type:
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            required: true
            displayName: Content-Type
      delete:
        description: >+
          This endpoint deletes an extended attribute for the person.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            required: true
            displayName: Accept
        queryParameters:
          id:
            type: string
            required: true
            displayName: id
      get:
        description: >+
          This endpoint gets an extended attribute templates associated with the person.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.person.attribute.template.v1+json
            required: true
            displayName: Accept
    get:
      description: >+
        Returns a person by id.


        Parameters:


        personId: The person's unique identifier.

      responses:
        200:
          description: Success
      headers:
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          required: true
          displayName: Accept
    put:
      description: >+
        Updates a person's base demographical properties.


        Parameters:


        personId: The person's unique identifier.

      responses:
        200:
          description: Success
      headers:
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          required: true
          displayName: Accept
        Content-Type:
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          required: true
          displayName: Content-Type
  /password/validate:
    post:
      description: >+
        collection endpoint to validate password against policy resources retrieved by using InviteId and orgnizationId.


        Parameters:

      responses:
        200:
          description: Success
      headers:
        SolutionInstanceId:
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          required: true
          displayName: SolutionInstanceId
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.password.validation.response.v1+json
          required: true
          displayName: Accept
        Content-type:
          type: string
          example: application/vnd.com.covisint.platform.password.validation.v1+json
          required: true
          displayName: Content-type
  /organizations/{organizationId}/securityAdmins:
    uriParameters:
      organizationId:
        type: string
        example: null
        required: true
        displayName: organizationId
    get:
      description: "Searches security admins according to the organization id provided.\n\nParameters:\n\norganizationId: \n\n"
      responses:
        200:
          description: Success
      headers:
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.person.v1+json
          required: true
          displayName: Accept
      queryParameters:
        page:
          type: string
          required: true
          displayName: page
        pageSize:
          type: string
          required: true
          displayName: pageSize
  /tasks:
    /activate:
      post:
        description: >+
          Activate a person that is in pending status.


          Parameters:

        responses:
          200:
            description: Success
        queryParameters:
          personId:
            type: string
            required: true
            displayName: personId
    /suspend:
      post:
        description: >+
          Suspend a person that is in active status.


          Parameters:

        responses:
          200:
            description: Success
        queryParameters:
          personId:
            type: string
            required: true
            displayName: personId
    /unsuspend:
      post:
        description: >+
          Unsuspend a person that is in suspended status.


          Parameters:

        responses:
          200:
            description: Success
        queryParameters:
          personId:
            type: string
            required: true
            displayName: personId
  get:
    description: >+
      Searches person resources according to the filter criteria provided. You have the option of searching for one or more persons by valid personIds. You may also search for persons matching specific parameters such as username, email, organization name, roleName and others.


      Parameters:

    responses:
      200:
        description: Success
    headers:
      Accept:
        type: string
        example: application/vnd.com.covisint.platform.person.v1+json
        required: true
        displayName: Accept
    queryParameters:
      page:
        type: string
        required: true
        displayName: page
      pageSize:
        type: string
        required: true
        displayName: pageSize
      id:
        type: string
        required: true
        displayName: id
      organization.id:
        type: string
        required: true
        displayName: organization.id
      username:
        type: string
        required: true
        displayName: username
      authnDomain:
        type: string
        required: true
        displayName: authnDomain
      name.given:
        type: string
        required: true
        displayName: name.given
      name.surname:
        type: string
        required: true
        displayName: name.surname
      email:
        type: string
        required: true
        displayName: email
      securityadmin:
        type: string
        required: true
        displayName: securityadmin
      roleId:
        type: string
        required: true
        displayName: roleId
      roleName:
        type: string
        required: true
        displayName: roleName
      fullName:
        type: string
        required: true
        displayName: fullName
      isRolesGranted:
        type: string
        required: true
        displayName: isRolesGranted
  post:
    description: >+
      Creates a new person in unactivated status.


      Parameters:

    responses:
      200:
        description: Success
    headers:
      Accept:
        type: string
        example: application/vnd.com.covisint.platform.person.v1+json
        required: true
        displayName: Accept
      Content-Type:
        type: string
        example: application/vnd.com.covisint.platform.person.v1+json
        required: true
        displayName: Content-Type
/personInvitations:
  /{invitationId}:
    uriParameters:
      invitationId:
        type: string
        example: null
        required: true
        displayName: invitationId
    /servicePackages:
      uriParameters: {}
      /{packageId}:
        uriParameters:
          packageId:
            type: string
            example: null
            required: true
            displayName: packageId
        /codes:
          uriParameters: {}
          get:
            description: >+
              Returns the service codes associated to a service package associated to an invitation.


              Parameters:

            responses:
              200:
                description: Success
            headers:
              Accept:
                type: string
                example: application/vnd.com.covisint.platform.service.codes.v1+json
                required: true
                displayName: Accept
          put:
            description: >+
              Updates the codes for a service package associated to an invitation.


              Parameters:

            responses:
              200:
                description: Success
            headers:
              Content-type:
                type: string
                example: application/vnd.com.covisint.platform.service.codes.v1+json
                required: true
                displayName: Content-type
              Accept:
                type: string
                example: application/vnd.com.covisint.platform.service.codes.v1+json
                required: true
                displayName: Accept
          delete:
            description: >+
              Deletes the codes for a service package associated to an invitation.


              Parameters:

            responses:
              200:
                description: Success
        put:
          description: >+
            Sets a package as being part of an invitation.


            Parameters:


            packageId: Unique identifier of the package

          responses:
            200:
              description: Success
          headers:
            Content-type:
              type: string
              example: application/vnd.com.covisint.platform.resourceReferences.v1+json
              required: true
              displayName: Content-type
            Accept:
              type: string
              example: application/vnd.com.covisint.platform.resourceReferences.v1+json
              required: true
              displayName: Accept
        delete:
          description: >+
            Deletes the package from being associated to the invitation.


            Parameters:


            packageId: Unique identifier of the package

          responses:
            200:
              description: Success
      get:
        description: >+
          Returns the service packages associated to an invitation.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.resourceReferences.v1+json
            required: true
            displayName: Accept
    get:
      description: >+
        Returns the person invitation by id.


        Parameters:


        invitationId: Unique identifier of the person invitation.

      responses:
        200:
          description: Success
      headers:
        SolutionInstanceId:
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          required: true
          displayName: SolutionInstanceId
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.person.invitation.v1+json
          required: true
          displayName: Accept
  /tasks/accept:
    post:
      description: >+
        Accept the person invitation.  This also results in the invitation being deleted.


        Parameters:

      responses:
        200:
          description: Success
      headers:
        SolutionInstanceId:
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          required: true
          displayName: SolutionInstanceId
      queryParameters:
        inviteId:
          type: string
          required: true
          displayName: inviteId
        createdPersonId:
          type: string
          required: true
          displayName: createdPersonId
  get:
    description: >+
      Performs a search for person invitations.


      Parameters:

    responses:
      200:
        description: Success
    headers:
      Accept:
        type: string
        example: application/vnd.com.covisint.platform.person.invitation.v1+json
        required: true
        displayName: Accept
    queryParameters:
      page:
        type: string
        required: true
        displayName: page
      pageSize:
        type: string
        required: true
        displayName: pageSize
      invitor.id:
        type: string
        required: true
        displayName: invitor.id
      invitee.id:
        type: string
        required: true
        displayName: invitee.id
  post:
    description: >+
      Creates a new person invitation.


      Parameters:

    responses:
      200:
        description: Success
    headers:
      Accept:
        type: string
        example: application/vnd.com.covisint.platform.person.invitation.v1+json
        required: true
        displayName: Accept
      Content-Type:
        type: string
        example: application/vnd.com.covisint.platform.person.invitation.v1+json
        required: true
        displayName: Content-Type
/requests:
  /{requestId}:
    uriParameters:
      requestId:
        type: string
        example: null
        required: true
        displayName: requestId
    get:
      description: >+
        Returns a person request by id.


        Parameters:


        requestId: Unique identifier of the person request

      responses:
        200:
          description: Success
      headers:
        SolutionInstanceId:
          type: string
          example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
          required: true
          displayName: SolutionInstanceId
        Accept:
          type: string
          example: application/vnd.com.covisint.platform.person.request.v1+json
          required: true
          displayName: Accept
    delete:
      description: >+
        Deletes a person request.


        Parameters:


        requestId: Unique identifier of the person request

      responses:
        200:
          description: Success
  /tasks:
    /approve:
      post:
        description: >+
          Approve a person request.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.person.request.v1+json;grantdefaultpackage=true
            required: true
            displayName: Accept
        queryParameters:
          requestId:
            type: string
            required: true
            displayName: requestId
    /deny:
      post:
        description: >+
          It will deny the person request as well as requested package and exchange package id granted the user.


          Parameters:

        responses:
          200:
            description: Success
        headers:
          Accept:
            type: string
            example: application/vnd.com.covisint.platform.person.request.v1+json
            required: true
            displayName: Accept
        queryParameters:
          requestId:
            type: string
            required: true
            displayName: requestId
          reason:
            type: string
            required: true
            displayName: reason
  get:
    description: >+
      Performs a search for person registration requests.


      Parameters:

    responses:
      200:
        description: Success
    headers:
      SolutionInstanceId:
        type: string
        example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        required: true
        displayName: SolutionInstanceId
      Accept:
        type: string
        example: application/vnd.com.covisint.platform.person.request.v1+json
        required: true
        displayName: Accept
    queryParameters:
      page:
        type: string
        required: true
        displayName: page
      pageSize:
        type: string
        required: true
        displayName: pageSize
      registrant.id:
        type: string
        required: true
        displayName: registrant.id
  post:
    description: >+
      Creates a new person request.


      Parameters:

    responses:
      200:
        description: Success
    headers:
      SolutionInstanceId:
        type: string
        example: ZCtYUGpYRXpET0JvVE1rZzlWV3I1Yk
        required: true
        displayName: SolutionInstanceId
      Accept:
        type: string
        example: application/vnd.com.covisint.platform.person.request.v1+json
        required: true
        displayName: Accept
      Content-Type:
        type: string
        example: application/vnd.com.covisint.platform.person.request.v1+json
        required: true
        displayName: Content-Type
